@charset "UTF-8";
/* Скидання стилів */
@import url("reset.css");
/* Основні стилі */
body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: "Manrope", sans-serif;
}
@media (min-width: 48em) and (max-width: 101.87375em) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 101.875em) {
  body {
    font-size: 1.125rem;
  }
}
.header{
  background: url(/img/head.jpg);
}
.header__container{
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  align-items: center;
}
.header__logo{
  max-width: 45%;
}
.header__name{
  max-width: 50%;
}